
.book__form {
    padding: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.books__input {
    width: 32%;
    padding: 10px;
}

.my__title {
    margin-bottom: 20px;
    font-size: 20px;
}

.my__subtitle {
    color: blue;
    font-size: 18px;
    margin-bottom: 20px;
}

.my__price {
    margin-bottom: 40px;
    font-size: 16px;
    color: red;
}