{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/books.css' %}">

</head>
<body>
    <section class="book__wrap">
        <form action="{% url 'add-book' %}" method="POST" class="books__form">
            {% csrf_token %}
            <div class="input__box">
                <input type="text" class="book__input create__input" 
                name="book_title" placeholder="Название книги">
                <input type="text" class="book__input create__input" 
                name="book_subtitle" placeholder="Подзагловок">
                <input type="text" class="book__input create__input" 
                name="book_description" placeholder="Описание">
                <input type="text" class="book__input create__input" 
                name="book_autor" placeholder="Автор">
            </div>
            <div class="input__box">
                <input type="text" class="book__input create__input" 
                name="book_price" placeholder="Цена">
                <input type="text" class="book__input create__input" 
                name="book_genre" placeholder="Жанр">
                <input type="text" class="book__input create__input" 
                name="book_year" placeholder="Год выпуска">
                
                <button class="book__btn create__btn">Добавить</button>
            </div>
        </form>
        <div class="book__container">

            {% for book in book_list %}
            
                <div class="book_item
                    {% if book.is_favorite %}
                        book_marked
                    {% endif %}
                ">
                    <div class="book_item_header">
                        <h2 class="book_txt book_title">{{ book.title }}</h2>
                        <h3 class="book_txt book_subtitle">{{ book.autor }}</h3>
                        <h3 class="book_txt book_price">{{ book.price }}</h3>
                    </div>
                    <div class="book_item_footer">
                        <div class="action_buttons">
                            {% if book.is_favorite %}
                                <a href="{% url 'mark-book' book.id %}"><img src="{% static './img/star_yellow.png' %}" alt="Избранное"></a>
                            {% else %}
                                <a href="{% url 'mark-book' book.id %}"><img src="{% static './img/star.png' %}" alt="Избранное"></a>
                            {% endif %}
                            <a href="{% url 'delete-book' book.id %}"><img src="{% static './img/trash_bin.svg' %}" alt="Удалить"></a>
                        </div>
                        
                    </div>
                    <a href="{% url 'open-book' book.id %}" class="book_details">Подробнее...</a>
                </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>